
*,
*::before,
*::after {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #dddd;
}

::-webkit-scrollbar-thumb {
    background: #0C356A;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0C356A, #000);
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
header.navbar-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding: 0.5rem;

    z-index: 9999;
}

header.navbar-container .brand-logo {
    font-size: 2.0rem;
    font-weight: bold;
    color: #FFC436;
}

header.navbar-container .toogle-icon {
    display: none;
}

header.navbar-container .nav-list ul {
    display: flex;
    padding-left: 0;
    gap: 2rem 3rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 600;
    color: #FFF0CE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header.navbar-container .nav-list li:hover a {
    padding: 7px;
    background-color: #FFC436;
    color: #0C356A;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

header.navbar-container .social-media {
    display: flex;
    padding-left: 0;
    gap: 1rem;
    padding: 1rem;
}

header.navbar-container .social-media i {
    cursor: pointer;
    padding: 0.5rem;
    padding-inline: 0.5rem;
    text-decoration: none;
    color: #FFF0CE;
    font-weight: 600;
    outline: 1px solid #FFF0CE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header.navbar-container .social-media i:hover {
    /*padding-inline: 0.7rem;
    */outline: none;
    transform: scale(1.50);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transform: scale(1.50);
    -moz-transform: scale(1.50);
    -ms-transform: scale(1.50);
    -o-transform: scale(1.50);
}

/* CONTENT HOME */
main {
    flex: 1;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin-inline: auto;
    padding: 2rem 1rem;

    display: flex;
    align-items: center;
}

main section.content-home {
    flex: 1;

    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}


main section.content-home .content-description {
    flex: 1 1;
    flex-grow: 1rem;
}

main section.content-home .content-description h2.welcome {
    font-size: 3.0rem;
    font-family: 'Rubik', 'Poppins', sans-serif;
    margin-block: 0rem;
    color: #FFF0CE;
    display: flex;
    gap: 0.5rem;
}

main section.content-home .content-description h2.welcome span {
    display: inline-block;
    border-right: 5px solid #fff;
    color: #FFC436;
    font-size: 3rem;
    font-weight: 700;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(14,end) infinite, blink 0.6s step-end infinite;
    -webkit-animation: typing 4s steps(14,end) infinite, blink 0.6s step-end infinite;
}

main section.content-home .content-description .title {
    display: inline;
    margin-block: 0;
    color: #FFC436;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Rubik', 'Poppins', sans-serif;
    width: 0;
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 6ch;
    }
    50% {
        width: 6ch;
    }

    100% {
        width: 12ch;
    }
}

main section.content-home .content-description p {
    font-size: 1.0rem;
    color: #FFF0CE;

    line-height: 1.6rem;
    text-align: justify;
}

main section.content-home .content-description .content-contact button {
    font-size: 1.0rem;
    font-weight: bold;
    color: #FFF0CE;
    background-color: #222831;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 1.0rem 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main section.content-home .content-description .content-contact button i {
    margin-right: 4px;
}

.fa-envelope {
    color: #C40C0C;
    font-weight: 700;
}

.fa-whatsapp {
    color: #00712D;
    font-weight: 700;
}

main section.content-home .content-description .content-contact button:hover {
    background-color: #FFC436;
    color: #222831;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

main section.content-home .content-image {
    flex: 1;
    display: flex;
}

main section.content-home .content-image img {
    cursor: pointer;
    padding: 15px;
    object-fit: cover;
    width: 350px;
    height: 400px;
    min-width: 100px;
    margin: auto;
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

main section.content-home .content-image img:hover {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}

/* CONTENT SKILLS */
main section.skills-container {
    flex: 1;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin-top: 6.5rem;
    padding: 2rem;


    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #222831; */

}
main section.skills-container .title-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
main section.skills-container .title-skills h1 {
    font-size: 1.5rem;
    color: #FFF0CE;
}
main section.skills-container .logo-container {
    display: flex;
    gap: 1rem;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    /* border-bottom: 2px solid #fff; */
}
main section.skills-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 4rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    /* flex-shrink: 0; */
    /* animation: infinite-scroll 5s linear infinite;
    -webkit-animation: infinite-scroll 5s linear infinite; */
}

main section.skills-container .logo i {
    cursor: pointer;
    padding: 1rem;
    width: 150px;
    height: 50px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    outline: 2px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
main section.skills-container .logo i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
main section.skills-container .logo i p {
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}
@keyframes infinite-scroll {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

.fa-html5 {
    color: orange;
}

.fa-css3-alt {
    color: blue;
}

.fa-js {
    color: yellow;
}

.fa-laravel {
    color: red;
}

.fa-php {
    color: gray;
}
.fa-github {
    color: #000;
}

/* CONTENT ABOUT */
main section.content-about {
    flex: 1;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin-top: 6rem;
    margin-inline: auto;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section.content-about .title-about {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 1200px;
    /* margin-inline: auto; */
    margin-block: 0;
}

main section.content-about .title-about p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFF0CE;
    white-space: nowrap;
    margin-right: 1rem;
}

main section.content-about .description-about {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

main section.content-about .description-about .image-about {
    flex: 1;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    gap: 5px;
}
main section.content-about .description-about .image-about img {
    cursor: pointer;
    object-fit: cover;
    height: 450px;
    width: 300px;
    min-width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
main section.content-about .description-about .image-about img:hover {
    width: 400px;
    height: 500px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
}
main section.content-about .description-about .image-about img:not(:hover) {
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
}
main section.content-about .description-about .image-about img:nth-child(2) {
    height: 500px;
    width: 400px;
}

main section.content-about .description-about .text-about {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

main section.content-about .description-about h2 {
    font-size: 2rem;
    color: #FFC436;

    font-size: 3.0rem;
    font-weight: 700;
    font-family: 'Rubik', 'Poppins', sans-serif;

    margin-block: 0rem;
}

main section.content-about .description-about p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF0CE;

    margin-block: 0rem;
    line-height: 1.6rem;
    text-align: justify;
}

main section.content-about .description-about .school-about {
    display: flex;
    flex: 1 1 1; 
    justify-content: center;
    margin: 20px;
    align-items: center;
}

main section.content-about .description-about .school-about i {
    padding-inline: 0;
    font-weight: 600;
    padding: 0.5rem;
    font-size: 2rem;
    color: #FFF0CE;
    cursor: pointer;
    opacity: 50%;
}

main section.content-about .description-about .school-about i:hover {
    opacity: 100%;
    color: #FFC436;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


/* CONTENT PROJECT */
main section.project-container {
    flex: 1;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin-top: 6rem;
    margin-inline: auto;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section.project-container .title-project {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 1200px;
    /* margin-inline: auto; */
    margin-block: 0;
}

main section.project-container .title-project p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFF0CE;
}

main section.project-container .content-project {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;

}

main section.project-container .content-project figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #FFF0CE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main section.project-container .content-project figure img {
    cursor: pointer;
    width: 270px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 0px 5px 5px 5px;
    -ms-border-radius: 0px 5px 5px 5px;
    -o-border-radius: 0px 5px 5px 5px;
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
}
main section.project-container .content-project figure img:hover {
    transition: all filter 0.3s ease-in-out;
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    -webkit-transition: all filter 0.3s ease-in-out;
    -moz-transition: all filter 0.3s ease-in-out;
    -ms-transition: all filter 0.3s ease-in-out;
    -o-transition: all filter 0.3s ease-in-out;
}
main section.project-container .content-project figure img:not(:hover) {
    transition: filter 0.3s ease-in-out;
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
    -webkit-transition: filter 0.3s ease-in-out;
    -moz-transition: filter 0.3s ease-in-out;
    -ms-transition: filter 0.3s ease-in-out;
    -o-transition: filter 0.3s ease-in-out;
}

main section.project-container .content-project figure figcaption {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #222831;
    margin-bottom: 5px;
}

main section.project-container .filter-project {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

main section.project-container .filter-project .icon-filter {
    cursor: pointer;
    background-color: #222831;
    padding: 5px;
    margin-inline-end: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main section.project-container .filter-project .icon-filter i {
    color: #FFC436;
}

main section.project-container .filter-project .filter-list {
    margin: 0;
    display: flex;
}

main section.project-container .filter-project .filter-list ul {
    display: flex;
    gap: 0rem 1rem;
    padding-inline: 0;
    flex-wrap: wrap;
}

main section.project-container .filter-project .filter-list li {
    list-style-type: none;
}

main section.project-container .filter-project .filter-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
    outline: 1px solid #fff;
}

main section.project-container .filter-project .filter-list li a:hover {
    background-color: #FFC436;
    color: #222831;
    outline: transparent;
}



/* CONTENT QUOTE */
main section.quote-container {
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin-top: 5rem;
    margin-inline: 0;
    padding: 1rem;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section.quote-container .content-quote .title-quote {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    /* margin-inline: auto; */
    margin-block: 0;
}

main section.quote-container .title-quote p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0C356A;
}

main section.quote-container .description-quote {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

main section.quote-container .description-quote p {
    font-size: 1rem;
    font-weight: 500;
    color: #222831;
    text-align: center;
}

main section.history-container {
    flex: 1;

    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin-top: 5rem;
    margin-inline: 0;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

}
main section.history-container .content-history {
    display: flex;
    width: 100%;
    max-width: 1200px;
    /* margin-inline: auto; */
    margin-block: 0;
    flex-direction: column;
}
main section.history-container .title-history {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 1200px;
    margin-block: 0;
}
main section.history-container .title-history p {
    font-size: 2.5rem;
    color: #FFF0CE;
    font-weight: bold;
}
main section.history-container .description-history {
    display: flex;
    margin: 10px;
}

/* HISTORY WORK 1 */
main section.history-container .description-history .image-history1 {
    display: flex;
    order: 1;
    margin-right: 1rem;
}
main section.history-container .description-history .image-history1 img {
    aspect-ratio: 19/6;
    width: 500px;
    object-fit: cover;
    border-radius: 100px 0px 100px 0px;
    -webkit-border-radius: 100px 0px 100px 0px;
    -moz-border-radius: 100px 0px 100px 0px;
    -ms-border-radius: 100px 0px 100px 0px;
    -o-border-radius: 100px 0px 100px 0px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
main section.history-container .description-history .image-history1 img:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
main section.history-container .description-history .text-history1 {
    display: flex;
    order: 1;
    /*justify-content: start;
    *//*align-items: center;
    */flex-direction: column;
    /* padding: 1rem; */
}
main section.history-container .description-history .text-history1 h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFC436; 
    text-align: start;
    margin: 0;
}
main section.history-container .description-history .text-history1 p {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF0CE; 
    text-align: justify;
    line-height: 1.7rem;
}

/* HISTORY WORK 2 */
main section.history-container .description-history .image-history2 {
    display: flex;
    order: 2;
    margin-left: 1rem;
}
main section.history-container .description-history .image-history2 img {
    aspect-ratio: 19/6;
    width: 500px;
    object-fit: cover;
    border-radius: 100px 0px 100px 0px;
    -webkit-border-radius: 100px 0px 100px 0px;
    -moz-border-radius: 100px 0px 100px 0px;
    -ms-border-radius: 100px 0px 100px 0px;
    -o-border-radius: 100px 0px 100px 0px;
}
main section.history-container .description-history .text-history2 {
    display: flex;
    order: 1;
    /* justify-content: start; */
    /* align-items: center; */
    flex-direction: column;
}
main section.history-container .description-history .text-history2 h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFC436; 
    text-align: start;
    margin: 0;
}
main section.history-container .description-history .text-history2 p {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF0CE; 
    text-align: justify;
    line-height: 1.7rem;
}

/* HISTORY WORK 3 */
main section.history-container .description-history .image-history3 {
    display: flex;
    order: 1;
    margin-right: 1rem;
}
main section.history-container .description-history .image-history3 img {
    aspect-ratio: 19/6;
    width: 500px;
    object-fit: cover;
    border-radius: 100px 0px 100px 0px;
    -webkit-border-radius: 100px 0px 100px 0px;
    -moz-border-radius: 100px 0px 100px 0px;
    -ms-border-radius: 100px 0px 100px 0px;
    -o-border-radius: 100px 0px 100px 0px;
}
main section.history-container .description-history .text-history3 {
    display: flex;
    order: 1;
    /* justify-content: start; */
    /* align-items: center; */
    flex-direction: column;
}
main section.history-container .description-history .text-history3 h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFC436; 
    text-align: start;
    margin: 0;
}
main section.history-container .description-history .text-history3 p {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF0CE; 
    text-align: justify;
    line-height: 1.7rem;
}



/* MEDIA MOBILE LANDSCAPE LAYOUT */
@media screen and (min-width: 300px) and (max-width: 767px) {
    header.navbar-container {
        flex-direction: row;
    }

    header.navbar-container .brand-logo {
        padding-block: 0;
        margin: 10px;
    }
    header.navbar-container .social-media {
        display: none;
    }

    header.navbar-container .toogle-icon {
        display: flex;
        width: 100%;
        width: 1200px;
        justify-content: flex-end;
        margin: 10px;
    }

    header.navbar-container .toogle-icon i {
        font-size: 1.7rem;
        color: #FFF0CE;
    }

    header.navbar-container .nav-list ul {
        display: none;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        margin-bottom: 2.0rem;
    }

    header.navbar-container .nav-list li:hover a {
        padding: 7px;
        background-color: #FFC436;
        color: #0C356A;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    main {
        padding: 1rem 3rem;
    }

    main section.content-home {
        flex-direction: column;
        gap: 2rem;
    }

    main section.content-home .content-description h2.welcome span {
        display: none;
    }

    main section.content-home .content-description .title {
        font-size: 2.5rem;
    }

    main section.content-home .content-description p {
        font-size: 1rem;
    }

    main section.content-home .content-image {
        order: -1;
    }

    main section.content-about .description-about {
        flex-direction: column;
    }
    main section.content-about .description-about .image-about{
        margin-bottom: 20px;
        margin-right: 0;

    }
    main section.content-about .description-about .image-about img {
        width: 100px;
        height: 300px;
    }
    main section.content-about .description-about .image-about img:nth-child(2) {
        width: 100px;
        height: 300px;
    }
    main section.content-about .description-about .image-about img:hover {
        width: 100px;
        height: 300px;
}
    
}

/* MEDIA TABLET LAYOUT */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header.navbar-container {
        flex-direction: row;
    }

    header.navbar-container .brand-logo {
        padding-block: 0;
        margin: 10px;
    }
    header.navbar-container .social-media {
        display: none;
    }

    header.navbar-container .toogle-icon {
        display: flex;
        width: 100%;
        width: 1200px;
        justify-content: flex-end;
        margin: 10px;
    }

    header.navbar-container .toogle-icon i {
        font-size: 1.7rem;
        color: #FFF0CE;
    }

    header.navbar-container .nav-list ul {
        display: none;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        margin-bottom: 2.0rem;
    }

    header.navbar-container .nav-list li:hover a {
        padding: 7px;
        background-color: #FFC436;
        color: #0C356A;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    main {
        padding: 1rem 3rem;
    }

    main section.content-home {
        flex-direction: column;
        gap: 2rem;
    }

    main section.content-home .content-description .title {
        font-size: 2.5rem;
    }

    main section.content-home .content-description p {
        font-size: 1rem;
    }

    main section.content-home .content-image {
        order: -1;
    }

    main section.content-about .description-about {
        flex-direction: column;
    }
    main section.content-about .description-about .image-about{
        margin-bottom: 20px;
        margin-right: 0;

    }
    main section.content-about .description-about .image-about img {
        width: 150px;
        height: 400px;
        aspect-ratio: 1/1;
    }
    main section.content-about .description-about .image-about img:nth-child(2) {
        width: 200px;
        height: 500px;
        aspect-ratio: 1/1;

    }
    main section.content-about .description-about .image-about img:hover {
        width: 200px;
        height: 500px;
    }

}


/* MEDIA DESKTOP LAYOUT */
@media screen and (min-width: 992px) {

}